<ion-content class="ion-padding">
  @if (librosSignal.hasValue()) {
  <ion-grid>
  <ion-row>
    @for (book of librosSignal.value(); track book.id) {
      <ion-col 
        size="12" 
        size-md="6" 
        size-lg="4">
        <ion-card class="ion-padding ion-text-wrap">
                
          <ion-item lines="none">
            @if (book?.photo) {
              <ion-thumbnail slot="start">
                <ion-img 
                  [src]="book.photo" 
                  alt="Portada de {{ book.name }}"
                  class="book-cover"
                ></ion-img>
              </ion-thumbnail>
            } @else {
              <ion-thumbnail slot="start">
                <ion-icon name="book-outline"></ion-icon>
              </ion-thumbnail>
            }
            <ion-label>
              <h2>{{ book.name }}</h2>
              <p>por {{ book.author }}</p>
            </ion-label>
          </ion-item>

          @if (book.state == 'available') {
            <p class="ion-margin-top">Estado: Disponible</p>
          } @else {
            <p class="ion-margin-top">Estado: No disponible</p>
          }

          <ion-row class="ion-margin-top ion-justify-content-end">
            <ion-col size="auto">
              <ion-button 
                size="small" 
                fill="outline" 
                color="safe" 
                (click)="verLibro(book.id.toString())"
              >
                Ver detalle
              </ion-button>
              <ion-button 
                class="ion-margin-start"
                size="small" 
                fill="outline" 
                color="danger" 
                (click)="eliminarLibro(book.id.toString())"
              >
                Eliminar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    }
  </ion-row>
  </ion-grid>
  } 
  @else {
    <ion-text color="medium">
      <h2 class="ion-text-center ion-margin-top">
        No hay libros registrados
      </h2>
    </ion-text>
  }
</ion-content>
