<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu-loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu-loans</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-button expand="block" routerLink="/menu-loans/loans-reque/:id">Prestamos solicitados</ion-button>
    <ion-button expand="block" routerLink="/menu-loans/loans-rece/:id">Prestamos recibidos</ion-button>
  </ion-item>
</ion-content>
