<ion-app>
  <!-- Menú lateral -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="true">
        <ion-button expand="block" routerLink="/user-profile">Ir a Perfil</ion-button>
        <ion-button expand="block" routerLink="/menu-loans">Ir a Préstamos</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <!-- Contenedor principal -->
  <div class="ion-page" id="main-content">
    <app-layout></app-layout> <!-- Tu layout con app-navbar + ng-content -->
  </div>
</ion-app>
