<ion-content class="ion-padding">
  @if (books().length > 0){
    <ion-grid>
      <ion-row>
        @for (book of books(); track book.id) {
          <ion-col 
            size="6" 
            size-md="4" 
            size-lg="3"
          >
            <ion-card 
              class="ion-no-padding ion-no-margin" 
              (click)="goToBook(book.id)" 
              button
            >
            <ion-row 
              class="ion-justify-content-end ion-align-items-start">
              <ion-col 
                size="auto"
              >
                <ion-icon 
                  name="trash-outline" 
                  (click)="deleteBook(book.id); $event.stopPropagation()"
                  color="danger"
                  size="large"
                  class="delete-icon"
                >
                </ion-icon>
              </ion-col>
            </ion-row>
              <ng-container *ngIf="book; else placeholder">
                <img [src]="book" alt="Book cover" />
              </ng-container>
              <ng-template #placeholder>
                <div class="image-placeholder"></div>
              </ng-template>
              <ion-card-header>
                <ion-card-title>{{ book.name }}</ion-card-title>
                <ion-card-subtitle>{{ book.author }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }
  @else {
    <ion-text color="medium">
      <h2 class="ion-text-center ion-margin-top">No tienes libros publicados</h2>
    </ion-text>
  }
</ion-content>