<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col 
        size="6" 
        size-md="4" 
        size-lg="3" 
        *ngFor="let book of books">
        <ion-card 
          (click)="goToBook(book.id)" 
          button
        >
          <ng-container *ngIf="book; else placeholder">
            <img [src]="book" alt="Book cover" />
          </ng-container>
          <ng-template #placeholder>
            <div class="image-placeholder"></div>
          </ng-template>
          <ion-card-header>
            <ion-card-title>{{ book.name }}</ion-card-title>
            <ion-card-subtitle>{{ book.author }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>