.form-container {
  max-width: 450px;
  margin: 40px auto;
  background: var(--ion-background-color);
  padding: 24px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(var(--ion-color-dark-rgb), 0.15);
}