<ion-content class="ion-padding">

  @if (sentRequests.isLoading()) {
    <ion-spinner></ion-spinner>
  } @else {

    @if (sentRequests.error()) {
      <p>Error al cargar tus solicitudes enviadas.</p>
    } @else {

      @if (sentRequests.value()?.length) {
        <ion-list>
          @for (req of sentRequests.value(); track req.id) {
            <ion-item>
              <ion-label>
                <h2>Solicitud #{{ req.id }}</h2>
                <p>Estado: {{ req.state }}</p>
                <p>Fecha: {{ req.creation_date }}</p>
                <p>Libros solicitados:</p>
              </ion-label>
            </ion-item>
          }
        </ion-list>
      } @else {
        <p>No has enviado solicitudes.</p>
      }

    }

  }

