<ion-content class="ion-padding">

  @if (sentRequests.isLoading()) {
    <ion-spinner></ion-spinner>
  } @else {

    @if (sentRequests.error()) {
      <p>Error al cargar tus solicitudes enviadas.</p>
    } @else {

      @if (sentRequests.value()?.length) {
        <ion-list>
          @for (req of sentRequests.value(); track req.id) {
            <ion-item>
              <ion-label>
                <h2>Solicitud #{{ req.id }}</h2>
                <p>Estado: {{ req.state }}</p>
                <p>Fecha: {{ req.creation_date | date:'dd-MM-yyyy' }}</p>
                <p>Libro solicitado:</p>
                <ion-note *ngFor="let bookName of req.books" color="primary">
                  {{ bookName }}
                </ion-note>
              </ion-label>
              @if (req.state === 'pending') {
                <ion-button 
                  color="danger" 
                  (click)="cancelarSolicitud(req.id)"
                >Cancelar</ion-button>
              }
            </ion-item>
          }
        </ion-list>
      } @else {
        <p>No has enviado solicitudes.</p>
      }

    }

  }

