<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <ion-row>
    <ion-col size="12">
        <ion-input 
          fill="outline"
          label="Nombre"
          labelPlacement="floating"
          name="name" 
          [ngModel]="name()" 
          (ngModelChange)="name.set($event)"
          required
          minlength="3"
        >
        </ion-input>
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col size="12">
        <ion-input 
          fill="outline"
          label="Apellido"
          labelPlacement="floating"
          type="text" 
          name="lastname" 
          [ngModel]="lastname()" 
          (ngModelChange)="lastname.set($event)"
          required
          minlength="3"
        >
        </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-input
        #emailField="ngModel"
        fill="outline"
        label="Email"
        labelPlacement="floating"
        type="email"
        name="email"
        [ngModel]="email()"
        (ngModelChange)="email.set($event)"
        required
        email
        minlength="5"
      >
      </ion-input>
    </ion-col>
  </ion-row>

  @if (!(isAdmin() && user()?.id === userId())) {
    <ion-row>
      <ion-col size="12">
          <ion-select
            label="Roles"
            labelPlacement="floating"
            fill="outline"
            name="roles"
            [ngModel]="role()"
            (ionChange)="role.set($event.detail.value)"
            required
            >
            @for (rol of totalRoles(); track rol) {
              <ion-select-option [value]="rol">{{ rol }}</ion-select-option>
            }
          </ion-select>
      </ion-col>
    </ion-row>
  }
  
  <ion-row>
      <ion-col size="12">
          <ion-button 
            expand="block" 
            type="submit" 
            >
            GUARDAR
          </ion-button>
      </ion-col>
  </ion-row>
        
</form>