<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <ion-row>
    <ion-col size="12">
        <ion-input 
          fill="outline"
          label="Nombre"
          labelPlacement="floating"
          name="name" 
          [(ngModel)]="name" 
          required
          minlength="3"
        >
        </ion-input>
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col size="12">
        <ion-input 
          fill="outline"
          label="Apellido"
          labelPlacement="floating"
          type="text" 
          name="last_name" 
          [(ngModel)]="last_name" 
          required
          minlength="3"
        >
        </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-input
        #emailField="ngModel"
        fill="outline"
        label="Email"
        labelPlacement="floating"
        type="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        minlength="5"
      >
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
        <ion-select
          label="Roles"
          labelPlacement="floating"
          fill="outline"
          multiple="true" 
          name="roles"
          [(ngModel)]="roles"
          required
          >
          @for (rol of totalRoles(); track rol) {
            <ion-select-option [value]="rol">{{ rol }}</ion-select-option>
          }
        </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12">
          <ion-button 
            expand="block" 
            type="submit" 
            >
            GUARDAR
          </ion-button>
      </ion-col>
  </ion-row>
        
</form>