<ion-content class="ion-padding">

  @if (receivedRequests.isLoading()) {
    <ion-spinner></ion-spinner>
  } @else if (receivedRequests.error()) {
    <ion-text color="danger"><p>Error al cargar solicitudes.</p></ion-text>
  } @else {

    <!-- Pendientes -->
    <ion-card>
      <ion-card-header><ion-card-title>Pendientes</ion-card-title></ion-card-header>
      <ion-card-content>
        @if (pendingReceived().length) {
          @for (req of pendingReceived(); track req.id) {
            <ion-item lines="full">
              <ion-label>
                <h3>#{{ req.id }} - {{ req.creation_date | date:'dd-MM-yyyy' }}</h3>
                <p>
                  Libro solicitado:
                  <ion-note 
                    *ngFor="let bookName of req.books" 
                    color="primary"
                  >
                  {{ bookName }}
                  </ion-note>
                </p>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button color="success" 
                  (click)="responderSolicitud(req.id, 'accepted')"
                >Aceptar
                </ion-button>
                <ion-button 
                  color="danger" 
                  (click)="responderSolicitud(req.id, 'declined')"
                >Rechazar
              </ion-button>
              </ion-buttons>
            </ion-item>
          }
        } @else { <ion-text 
            color="medium"><p>No hay solicitudes pendientes.</p></ion-text> }
      </ion-card-content>
    </ion-card>

    <!-- Aceptadas -->
    <ion-card>
      <ion-card-header><ion-card-title>Aceptadas</ion-card-title></ion-card-header>
      <ion-card-content>
        @if (acceptedRequests().length) {
          @for (req of acceptedRequests(); track req.id) {
            <ion-item>
              <ion-label>#{{ req.id }} - {{ req.creation_date | date:'dd-MM-yyyy' }}
                <p>
                  Libro solicitado:
                  <ion-note 
                    *ngFor="let bookName of req.books" 
                    color="primary"
                  >
                  {{ bookName }}
                  </ion-note>
                </p>
              </ion-label>
              @if (req.state === 'accepted' && !confirmados()[req.id]) {
                <ion-button 
                  color="success" 
                  (click)="confirmPickup(req.id)"
                >Confirmar Retiro</ion-button>
              }
              @if (confirmados()[req.id] && req.state !== 'completed') {
                <ion-button 
                  color="warning" 
                  (click)="confirmReturn(req.id)"
                  >Confirmar Devolución</ion-button>
              }
            </ion-item>
          }
        } @else { <ion-text color="medium">No hay solicitudes aceptadas.</ion-text> }
      </ion-card-content>
    </ion-card>


    <!-- Todas -->
    <ion-card>
      <ion-card-header><ion-card-title>Todas</ion-card-title></ion-card-header>
      <ion-card-content>
        @if (allReceived().length) {
          @for (req of allReceived(); track req.id) {
            <ion-item lines="full">
              <ion-label>
                <h3>#{{ req.id }} - {{ req.state }}</h3>
                <p>
                  Libro solicitado:
                  <ion-note 
                    *ngFor="let bookName of req.books" 
                    color="primary"
                  >
                  {{ bookName }}
                  </ion-note>
                </p>
              </ion-label>
            </ion-item>
          }
        } @else { <ion-text color="medium"><p>No tienes solicitudes.</p></ion-text> }
      </ion-card-content>
    </ion-card>

  }
</ion-content>
