<ion-content class="ion-padding">

  @if (receivedRequests.isLoading()) {
    <ion-spinner></ion-spinner>
  } @else {
    
    @if (receivedRequests.value()?.length) {
      <ion-list>
        @for (req of receivedRequests.value(); track req.id) {
          <ion-item>
            <ion-label>
              <h2>Solicitud #{{ req.id }}</h2>
              <p>Estado: {{ req.state }}</p>
              <p>Fecha: {{ req.creation_date }}</p>
            </ion-label>
          </ion-item>
        }
      </ion-list>
    } @else {
      <p>No tienes solicitudes pendientes.</p>
    }

  }
</ion-content>
