<ion-content 
  [fullscreen]="true" 
  class="ion-padding">
  <ion-grid 
    class="ion-align-items-center
      ion-justify-content-center"
  >
    <ion-row 
    class="
      ion-justify-content-center 
      ion-align-items-center 
      ion-text-center 
      ion-margin-top 
      ion-margin-bottom">
      <ion-col 
        size="12" 
        size-md="8" 
        size-lg="6" 
      >
        @if(user()){
          <ion-card class="ion-padding ion-text-center">
            <ion-card-header>
              <ion-card-title>Mi cuenta</ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-row class="ion-justify-content-center ion-margin-bottom">
                <ion-col size="auto" class="ion-text-center">
                <ion-avatar
                  class="ion-margin-bottom ion-align-self-center" 
                  (click)="takePhoto()">
                  <img alt="" src="{{ this.userPhoto() }}" />
                </ion-avatar>
                </ion-col>
              </ion-row>
              
              <ion-row class="ion-justify-content-center">
                <ion-col size="auto" class="ion-text-center">
                  <h2><strong class="ion-margin-top">Nombre: </strong></h2>
                  <ion-text class="ion-margin-bottom ion-margin-top">{{ user().name }} {{ user().last_name }}</ion-text>

                  <h2><strong class="ion-margin-top">Nombre de usuario:</strong></h2>
                  <ion-text class="ion-margin-bottom ion-margin-top">{{ user().username }}</ion-text>

                  <h2><strong class="ion-margin-top">Email:</strong></h2>
                  <ion-text class="ion-margin-bottom ion-margin-top">{{ user().email }}</ion-text>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-center ion-margin-top">
                <ion-col size="auto">
                    <ion-button 
                      color="primary" 
                      expand="block" 
                      (click)="modifyData()"  
                    >
                      Modificar datos
                    </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-col size="auto">
                  <ion-button 
                    color="danger" 
                    expand="block" 
                    (click)="deleteSelf()"
                  >
                    Eliminar mi cuenta
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        }
        @if(!user()) {
          <p style="text-align: center;">Cargando usuario...</p>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
