<ion-content class="ion-padding" fullscreen>
  <ion-grid 
    class="h-100">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          @for(book of allBooks.value(); track book.id) {
            <ion-item>
              <ion-thumbnail 
                slot="start">
                <img 
                  [src]="book || 'assets/default-book.png'" 
                  alt="{{ book.name }}">
              </ion-thumbnail>
              <ion-label>
                <h2>
                  {{ book.name }}
                </h2>
                <p>
                  {{ book.author }}
                </p>
                <p><strong>
                  {{ book.state }}
                </strong></p>
              </ion-label>
              <ion-button 
                fill="outline" 
                slot="end" 
                (click)="viewDetails(book.id)"
              >
                Ver Detalles
              </ion-button>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
