<ion-content class="ion-padding" fullscreen>
  <ion-grid 
    class="h-100">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          @for(book of allBooks.value(); track book.id) {
            <ion-item>
              <ion-thumbnail 
                slot="start">
                <img 
                  [src]="book.photo || 'assets/default-book.png'" 
                  alt="{{ book.name }}">
              </ion-thumbnail>
              <ion-label>
                <h2>{{ book.name }}</h2>
                <p>{{ book.author }}</p>
                @if (book.genres && book.genres.length > 0) {
                  <p><strong>Géneros: </strong>{{ book.genres.join(', ') }}</p>
                } @else {
                  <p>Géneros: Ninguno</p>
                }
                @if (book.state == 'available') {
                  <p class="ion-margin-top"><strong>Estado:</strong> Disponible</p>
                } @else {
                  <p class="ion-margin-top"><strong>Estado:</strong> No disponible</p>
                }
                @if (book.owner_id.toString() == this.mainStore.userId()) {
                  <p>Publicado por ti</p>
                } @else {
                  <p>
                    Publicado por 
                    <ion-text
                      color="primary">
                      {{ book.owner_username }}
                    </ion-text>
                  </p>
                }
              </ion-label>
              <ion-button 
                fill="outline" 
                slot="end" 
                (click)="viewDetails(book.id)"
              >
                Ver Detalles
              </ion-button>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
