<ion-content class="ion-padding" fullscreen>
  <ion-grid 
    class="h-100">
    <ion-row 
      class="h-100" 
      justify-content-center 
      align-items-center>
      <ion-col 
        size="12" 
        class="ion-text-center"
      >
        <ion-button 
          expand="block" 
          (click)="verUsuariosList()">
          ver usuarios listados
        </ion-button>
        <ion-button 
          expand="block" 
          (click)="publicarLibro()">
          Publicar libro
        </ion-button>
        <ion-button 
          expand="block" 
          (click)="modificarUsuario(user.id)">
          Modificar usuario
        </ion-button>
        <ion-button 
          expand="block" 
          (click)="perfilUsuario(user.id)">
          Ver Perfil
        </ion-button>
        <ion-button 
          expand="block" 
          (click)="myBooks()">
          Mis libros publicados
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          @for(book of books(); track book.id) {
            <ion-item>
              <ion-thumbnail 
                slot="start">
                <img 
                  [src]="book || 'assets/default-book.png'" 
                  alt="{{ book.name }}">
              </ion-thumbnail>
              <ion-label>
                <h2>
                  {{ book.name }}
                </h2>
                <p>
                  {{ book.author }}
                </p>
                <p><strong>
                  {{ book.state }}
                </strong></p>
              </ion-label>
              <ion-button 
                fill="outline" 
                slot="end" 
                (click)="viewDetails(book.id)"
              >
                Ver Detalles
              </ion-button>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
